* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .about {
      margin-top: 0;
  }

  .contact{
      padding: 20px;
      height: 60px;
  }
  

  .projectsBox {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
  }
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 250px;
    padding: 6% 0;
    background-color: #bbb;
    margin-top: 20px;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  footer {
    padding: 1% 0;
    background-color: #aaa;
    margin-top: 10px;
  }
  